{
  "extends": [
    "airbnb"
  ],
  "plugins": [
    "eslint-plugin-jsx-a11y",
    "eslint-plugin-jest"
  ],
  "rules": {
    "react/jsx-props-no-spreading": 0,
    "react/prop-types": 0
  },
  "env": {
    "browser": true,
    "node": true,
    "jest/globals": true
  },
  "globals": {
    "API_URL": true,
    "PUBLIC_KEY": true
  },
  "parser": "babel-eslint"
}